@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

/*EXOS BECODE 1-2-3*/
/* Adapte la couleur de l'écran selon la taille de celui-ci */
@media only screen and (max-width: 300px) {
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: red;
  }
  #small {
    font-size: 1em;
    color: white;
  }
  #small h1 {font-weight: 800;}
  #small h2 {font-weight: 600; text-decoration: underline;}
  #small p {font-weight: 300;}
  #medium {display: none;}
  #large {display: none;}
}
@media only screen and (min-width: 300px) and (max-width: 768px) {
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    background-color: green;
  }
  #medium {
    font-size: 1em;
    color: white;
  }
  #medium h1 {font-weight: 800;}
  #medium h2 {font-weight: 600; text-decoration: underline;}
  #medium p {font-weight: 300;}
  #small {display: none;}
  #large {display: none;}
}
@media only screen and (min-width: 768px) {
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: blue;
  }
  #large {
    font-size: 1em;
    color: white;
  }
  #large h1 {font-weight: 800;}
  #large h2 {font-weight: 600; text-decoration: underline;}
  #large p {font-weight: 300;}
  #small {display: none;}
  #medium {display: none;}
}
/*FIN EXOS BECODE 1-2-3*/
